/* SETUP */

/* vars */

:root {
  --color-white: #fff;
  --color-red: #dd0239;
  --color-grey: #020405;
}

/* typography */

@font-face {
  font-family: impact-regular;
  src: url(/fonts/Impact/impact.ttf);
}

@font-face {
  font-family: ubuntu-regular;
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: ubuntu-bold;
  src: url(/fonts/Ubuntu/Ubuntu-Bold.ttf);
}

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dd0239;
  background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
}

a {
  text-decoration: none;
}

/* layouts */

.main-content {
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.main-search-container {
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px dotted white;
  height: 200px;
}

.main-gallery {
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.main-edit {
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}

/* helpers  */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-family: impact-regular;
  font-size: 2.5em;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* header navbar */
.main-header {
  background-color: #020405;
  background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
  border-bottom: 2px solid #020405;
}

.main-nav {
  /* gap: 100px; */
}

.main-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 200px;
  color: var(--color-white);
  font-family: ubuntu-regular;
  font-size: 1.5em;
  border-left: 2px solid black;
}
.main-nav li:last-child {
  border-right: 2px solid black;
}

.main-nav a:hover {
  cursor: pointer;
}

/* gallery */

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: repeat(5, 1fr);
  gap: 20px;
}

.gallery-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(100%);
  transition: transform 0.3s;
}
.gallery-img:hover {
  transform: scale(110%);
  transition: transform 0.3s;
}

/* edit */

/* canvas  */

.canvas-container {
  width: 666px;
  height: 666px;
}

.main-edit {
  gap: 10%;
}

.edit-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 30%;
}

.edit-text {
  grid-column: 1/6;
}

.edit-add {
  grid-column: 2;
  grid-row: 2;
}
.edit-change {
  grid-column: 3;
  grid-row: 2;
}
.edit-delete {
  grid-column: 4;
  grid-row: 2;
}

.edit-fonts {
  grid-column: 1/6;
  grid-row: 3;
}

.edit-download {
  grid-column: 2;
  grid-row: 4;
}
.edit-save {
  grid-column: 4;
  grid-row: 4;
}
.edit-share {
  grid-column: 3;
  grid-row: 5;
}
